<template>
  <q-page>
  		<div class="row">
  			<div class="col-xs-12 col-md-6 offset-md-3">
  				<form @submit.prevent="addTask">
					<q-field>
					  <q-input float-label="Tarefa" v-model="task" required/>
					</q-field>

					<div class="row justify-end">
						<q-btn
						  class="q-my-md"
						  color="primary"
						  size="md"
						  label="Adicionar"
						  type="submit"
						/>
					</div>
				</form>

				<div class="qmy-md">
					<q-list highlight  v-if="tasks">
						<q-item v-for="(task, index) in tasks" :key="index">
							<q-item-main>{{ task }}</q-item-main>
              <q-btn @click="removeItem(index)">
                <q-icon name="delete" />
              </q-btn>
							<q-item-separator />
						</q-item>
					</q-list>
				</div>
  			</div>
  		</div>	
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  
  data(){
  	return{
  		task: '',
  		tasks: []
  	}
  },

  methods: {
  	addTask(){
  		this.tasks.push(this.task);
  		this.saveLocal()
  		this.task = null
  	},

    saveLocal(){
      this.$q.localStorage.set('tasks', this.tasks);
    },

    removeItem(index){
      this.tasks.splice(index, 1);
      this.saveLocal()
    }
  },

   created(){
    let taskies = this.$q.localStorage.get.item('tasks');
    
    taskies.forEach((t)=>{
      this.tasks.push(t)
    })
  },
 
}
</script>
